# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/
.envrc

# Ignore logs and temporary files
*.log
*.tmp
*.swp

models/

# Ignore data files (if you prefer not to copy large datasets into the container)
data/
papers/
passages/

# Ignore git files
.git
.gitignore



.cache/
.huggingface/
models/

*.bak
*.old
